.header {
    background-color: #ffffff;
    padding: 20px;
    height: 110px;
    color: white;
    text-align: center;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    color: rgb(51, 78, 152);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.header img {
    float: left;
    width: 200px;
}