/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.modal-content {
  position: relative;
  width: 50%;
  max-width: 1100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 0px;
}

.modal-paragraph {
  text-align: left;
  width: 90%;
}
  
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
}

.modal-date {
  font-size: 14px;
  color: #666;
}

.modal-main-edu {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  padding: 10px;
}

.modal-main-edu img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-body-edu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.modal-body-edu .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-right: 10px;
}

.modal-body-edu .column img {
  align-self: center;
  vertical-align: middle;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.callout {
  background-color: rgb(241, 233, 213);
  outline-style:none;
  outline-width: 3pt;
  outline-color: rgb(129, 73, 33);
  margin: 20px 20px 40px 20px;
  padding: 5px;
  height: 100%;
}

p .degree {
  size: 40px;
}

.award_list_item {
  padding: 10px;
}

.modal-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.modal-two-columns {
  display: flex;
  justify-content: space-between; /* Add space between columns */
  gap: 20px; /* Optional: Add space between columns */
}

.left-column {
  width: 60%; /* 60% width for left column */
}

.left-column img {
  width: 80%;
  max-width: 300px;
}
.experience-description {
  text-align: left;
}

.team-descriptor {
  text-align: left;
}

.right-column {
  width: 40%; /* 40% width for right column */
}

/* Optional: Style for the list in the right column */
.right-column ul {
  padding-left: 50px;
}

.right-column ul li {
  border-radius: 4px;
}

/* Optional: Make it responsive on smaller screens */
@media (max-width: 768px) {
  .modal-two-columns {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%; /* Full width on small screens */
  }
}